<div class="{{ ctx.instance.checkboxClasses }}">
    <{{ctx.input.type}} ref="input"
    {% for (var attr in ctx.input.attr) { %}
    {{attr}}="{{ctx.input.attr[attr]}}"
    {% } %}
    {% if (ctx.checked) { %}checked=true{% } %}
    ></{{ctx.input.type}}>
    <div class="{{ ctx.instance.stateClasses }}">
        {% if (ctx.instance.isIcon) { %}
            <i class="{{ ctx.instance.iconClasses }}"></i>
        {% } %}
        {% if (!ctx.self.labelIsHidden()) { %}<label class="control-label form-check-label">{{ ctx.input.label }}</label>{% } %}
    </div>
</div>
